<div style="position: relative;width: 100%;height: 100%;">
    <div style="background: url('../assets/360_F_456001627_vYt7ZFjxEQ1sshme67JAXorKRPo8gsfN.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;position: absolute;z-index: 1;width: 100%;height: auto;min-height: 100vh;">
        <div style="text-align: -webkit-center;"><app-navbar *ngIf="isNavBarEnabled" style="position: -webkit-sticky;"></app-navbar></div>
        
        <router-outlet></router-outlet>
    </div>

<!-- <img style="width: 100%;height: 100%;position: absolute;" src="../assets/360_F_456001627_vYt7ZFjxEQ1sshme67JAXorKRPo8gsfN.jpg" alt=""> -->
</div>